# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
/.next/
/out/
/build

# Tauri / Rust
/src-tauri/target/
**/target/
/src-tauri/gen/schemas

# Testing & Coverage
/coverage

# Environment Variables
.env*
!.env.example

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Backups & Temp files
*.bak
*.tmp
*.swp

# OS & Editor
.DS_Store
Thumbs.db
Desktop.ini
*.pem
.vscode/
.idea/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
